@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: Lato, sans-serif;
    color: rgba(84, 87, 90, 1);
    background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
  }

.wrapper {
  position: relative;
  width: 1440px;
  height: 1379px;
  margin: auto;
  background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);

}

.nav-bar {
  color: #fff;
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 32px 0;
  display: flex;
}

.nav-menu a {
  text-decoration: none;
  color: rgba(84, 87, 90, 1);
  padding: 8px 16px;
  font-size: 24px;
  font-weight: 500;
}

.nav-menu a:hover {
  background-color: #447cc0;
  color: rgb(224, 224, 224);
  border-radius: 4px;
}

.title {
  position: absolute;
  width: 458px;
  height: 135px;
  top: 200px;
  left: 221px;
  font-style: normal;
  font-size: 64px;
  font-weight: 500;
  line-height: 67px;
}

.text {
  position: absolute;
  width: 394px;
  height: 96px;
  top: 320px;
  left: 221px;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
}

.main-image-container {
  position: absolute;
  width: 535.72px;
  height: 309.27px;
  top: 220px;
  left: 683.28px;
}

.main-image-container img {
  height: 511.15px;
}